<p>Доброго дня, {{firstName}} {{lastName}}!</p>
<p>Вас додано та запрошено до <strong>Системи керування дипломними роботами</strong>!</p>
<p>Ваша роль: <strong>{{role}}</strong></p>
<p>Веб-застосунок доступний за цим посиланням: <a href="{{verifyLink}}">активація</a>.</p>
<p><strong>© Система керування дипломними роботами</strong></p>
