<p>Доброго дня, {{firstName}} {{lastName}}!</p>
<p>Посилання для відновлення паролю у <strong>Системі керування дипломними роботами</strong> - <a href="{{resetLink}}"> відновити пароль</a>.</p>
<p><strong>© Система керування дипломними роботами</strong></p>
