<p>Доброго дня, {{student}}!</p>
<p>На жаль, Вашу заявку відхилено.</p>
<p>Тема: <b>"{{theme}}"</b></p>
<p>Керівник: <b>{{teacher}}</b></p>
<p><strong>© Система керування дипломними роботами</strong></p>
