<p>Доброго дня, {{teacher}}!</p>
<p>Ви отримали нову заявку!</p>
<p>Тема: <b>"{{theme}}"</b></p>
<p>Студент групи <b>{{group}}</b>: <b>{{student}}</b></p>
<p><strong>© Система керування дипломними роботами</strong></p>
